# --- Virtual Environment (QUAN TRỌNG) ---
# Dòng này chặn folder venv không được up lên git
venv/
env/
.venv/

# --- Python Artifacts (File rác khi chạy code) ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Environment Variables (Bảo mật) ---
# Chứa key/pass, tuyệt đối không up
.env

# --- IDE Settings (Cấu hình riêng của máy cá nhân) ---
.idea/
.vscode/

# --- Project Data Management ---
# Giữ lại cấu trúc thư mục nhưng không up dữ liệu bên trong
# Raw Data
data/raw/*
!data/raw/.gitkeep

# Processed Data
data/processed/*
!data/processed/.gitkeep

# Indices (Search Index)
data/indices/*
!data/indices/.gitkeep

# --- Logs ---
*.log